#logo {
    background-color: #80afe9;
}

table {
    border-collapse: collapse;
    /*text-align: center;
    margin-left: 20px*/
}

td,th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;

}

#tabla_profesores {
    margin-top: 20px;
}

.alberto {
    background-color: #7FA862
}

.ruben {
    background-color: beige;
}

.clara {
    background-color: #bed4ee;
}

.lucia {
    background-color: #80afe9;
}

.recreo_cabecera {
    background-color: #b2cef0;
}


.no_border {
    border: none;
}