/*
Propiedad static: flujo por defecto de HTML
Propiedad relative: el posicionamiento relativo coloca el elemento en su posición normal. 
                    A partir de ahí, podemos desplazar el elemento, permaneciendo el hueco de su posición original.
Posicion absolut: con el posicionamiento absoluto, especificamos la posición del elemento 
                  con respecto al elemento que lo contiene, además no ocupa espacio.
                  Si su elemento padre tiene una posición relative, se posiciona sobre dicho contenedor.
                  Sino lo hara sobre el body

Position fixed: semejante a absolut, salvo que siempre será respecto al body y queda fijo en pantalla.
Position sticky: Es una mezcla entre posición relativa y fija. Inicialmente el elemento ocupa una posición relativa pero cuando se hace scroll, en lugar de desplazarse y quedar oculto, queda fijo y visible en la parte superior o inferior de la pantalla
z-index: orden =>
                    z-index >=1
                    posicionados
                    sin posicion



*/


.caja-1 {
    position: absolute;
    top: 10px;
    left: 10px;
}