/* 1. H1 */
h1 {
    color: blue;
    font-size: 24px;
  }
  
  /* 2. Enlaces de la navegación */
  nav a:hover {
    color: green;
  }
  
  /* 3. Imagen de la sección principal */
  section.seccion-principal img {
    border: 5px solid red;
  }
  
  /* 4. Primer elemento de la lista del aside */
  aside ul li:first-child {
    background-color: #ddd;
  }
  
  /* 5. Texto del pie de página */
  footer p {
    text-align: right;
  }