
div {
  background-color: red;
}
/* Estilos para la Caja 1 */
#mesa_espaciosa {
  margin: 15px; /* Espacio suficiente para todos los lados */
}

/* Estilos para la Caja 2 */
#mesa_distante {
  margin-top: 40px;    /* Más espacio en la parte superior */
  margin-bottom: 40px; /* Más espacio en la parte inferior */
  margin-left: 25px;   /* Espacio en el lado izquierdo */
  margin-right: 25px;  /* Espacio en el lado derecho */
}

/* Estilos para la Caja 3 */
#mesa_sociable {
  margin: 0px; /* ¡No necesita más espacio! */
}