body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    margin: 20px;
}

.content {
    float: left;
    width: 70%;
    background-color: #f2f2f2;

}

.sidebar {
    float: left;
    width: 30%;
    background-color: #ddd;
}

footer {
    float: left;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}
