.container {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  align-items: center;
  align-content: space-around;
}

.animal {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #ffb6c1;
  border: 2px solid #333;
  background-size: cover;
  background-position: center;
}
