.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  width: 250px; /* Ancho de cada tarjeta de producto */
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .product-card {
    width: 90%; /* Cambiar el ancho en pantallas más pequeñas */
  }
}
