body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}

.tarjeta {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 300px;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
}

.descripcion {
    color: #555;
    margin-top: 15px;
}

.boton {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
}